<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<!-- 게시글 보기 -->
<div class="content">
    <div>
        <div>
            <span>제목: </span>
            <span th:text="${contentTitle}"></span>
        </div>
        <div>
            <span>본문: </span>
            <span th:text="${content}"></span>
        </div>
    </div>
</div>

<!-- 댓글 보기 -->
<div class="comment">
    <div th:each="item: ${list}">
        <div>
            <span>댓글 내용</span>
            <span th:text="${item.getContent()}"></span>
            <span>댓글 작성시간</span>
            <span th:text="${item.getWritetime()}"></span>
        </div>
    </div>
</div>
</body>
</html>