<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Adamina&display=swap" rel="stylesheet">
</head>
<body>
<!-- 상단바 -->
<header id="header">SAFE GO</header>

<div class="contents">
    <div th:each="item: ${list}">
        <div class="list">
            <a th:href="@{'/content/' + ${item.getId()}}">
                <span th:text="${item.getId()}" class="board_id"></span>
                <span th:text="${item.getTitle()}" class="board_title"></span>
                <span th:text="${item.getWritetime()}"class="board_time"></span>
            </a>
        </div>
    </div>
    <a th:href="@{'/write'}">
        <button id="btn_write" type="submit" name="write">글쓰기</button>
    </a>
</div>
<script src="index.js"></script>
</body>
</html>
