<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${headTitle}"></title>
    <link rel="stylesheet" href="../css/write.css">
    <link href="https://fonts.googleapis.com/css?family=Adamina&display=swap" rel="stylesheet">
</head>
<body>
<!-- 상단바 -->
<header id="header">SAFE GO</header>

<!-- 게시글 쓰기 -->
<div id="box">
    <div id="writeBox">
        <form id="imageForm" method="POST" accept-charset="UTF-8" enctype="multipart/form-data" action="#" th:action="@{/insertContent}" th:object="${board}">
            <div class="wrap">
                <input id="title" type="text" name="title" placeholder="제목을 입력해주세요." th:text="${title}">
            </div>
            <div class="text">
                <textarea id="content" name="content" wrap="physical" placeholder="내용을 입력해주세요." th:text="${content}"></textarea>
            </div>
            <div style="text-align: center;">
                <button id="btn_submit" type="submit" name="write">작성하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
